<section class="admin-categories-index">

  <header class="page-header">
    <h1>Admin &raquo; All categories</h1>
  </header>

      <% if flash[:notice] %>
    <div class="alert alert-warning"><%= flash[:notice] %></div>
      <% end %>

  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
    <%= link_to 'Back to Dashboard', admin_root_path, class: "btn btn-secondary" %>
  </div>

  <div class="panel panel-default categories">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>

  </div>

</section>